/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    text-align: center;
}

#expense-form {
    margin-bottom: 30px;
    text-align: center;
}

#expense-form input, #expense-form select {
    margin: 5px;
    padding: 5px;
}

#add-expense {
    padding: 5px 10px;
}

#expense-list {
    margin-bottom: 30px;
}

#expenses-table {
    width: 80%;
    border-collapse: collapse;
}

#expenses-table th:hover {
    background-color: #f6f6f6;
}

#expenses-table th, #expenses-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#expenses-table td {
    text-align: left;
}

#expenses-table th {
    background-color: #f2f2f2;
    text-align: center;
}

#reports {
    width: 400px;
    margin: 0 auto;
}
